{% extends 'layouts/main.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Autoři{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-8 col-lg-8 col-center">
            <div class="well">
                <h2>Laboratoř servisních systémů</h2>
                Laboratoř servisních systémů je skupinou zaobírající se tématy SmartCity, ERP systémy a dalšími. Vedoucím laboratoře je <a href="https://is.muni.cz/auth/osoba/wallet">Ing. Leonard Walletzký, PhD.</a><br/>
                Sama laboratoř má za cíl poskytování služeb a IT podporu, která je poskytována také jako služba. Samozřejmě se snaží přinést co největší hodnotu všem jejím uživatelům. U všech okruhů se snaží využívat modelu 4 diamantů, který umožňuje pochopení kontextů měst a jejich vazeb.
                <h3>Kontakt</h3>
                <a href="https://seslab.fi.muni.cz" target="_blank">Stránky Laboratoře servisních systémů</a>

                <br/>
                <br/>
                <h2>Autor práce</h2>
                Autorem aplikace je <a href="https://is.muni.cz/auth/osoba/500352">Bc. Dominik Skála</a>, student magisterského studijního programu Řízení softwarových systémů a služeb.

                Tato aplikace je distribuována pod licencí BSD 3-Clause. Aplikace není limitována užitím, rozšířením. Do aplikace lze přispívat pod podmínkou

                <h3>Kontakt na tvůrce aplikace</h3>
                <a href="mailto:dominikskala@seznam.cz" target="_blank">Dominik Skála</a><br/>
                <a href="mailto:wallet@mail.muni.cz" target="_blank">Ing. Leonard Walletzký, PhD.</a><br/>
                <br/>
                <h3>Zdrojové kódy aplikace</h3>
                <a href="https://github.com/Skalin/CLM">Github</a><br/>
                <a href="https://hub.docker.com/layers/178665837/skalincz/lkod-python-migration/latest/images/sha256-ef6550a1a642934d1f9135d0cc0c506d236c360ca6849e5559607e1567f2f090?context=repo">Docker</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}