{% extends 'layouts/main.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Migrační aplikace CKAN - LKOD{% endblock %}

{% block content %}

{% block header %}
<div class="jumbotron text-center jumbotron-lkod">
    <h1>Migrační aplikace CKAN - LKOD</h1>
</div>
{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-5 col-center">
            <div class="well">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>

    {% if session['datasets'] %}
    <div class="row">
        <div class="col-sm-12 col-md-8 col-center">
            <div class="well">
                <h2>Stav migrace</h2>

                {% for status in session['datasets'].keys() %}
                <h3>Stav: {{ status }}</h3>
                <table class="table">
                    <tbody>
                    {% for dataset in session['datasets'][status] %}
                    <tr>
                        <th>
                            {{ dataset }}
                        </th>
                        <td>
                            <a href="{{url_for('site.download', dataset=dataset) }}" type="button" class="btn btn-default">Stáhnout</a>
                            <a href="{{url_for('site.migrate', dataset=dataset) }}" type="button" class="btn btn-default">Zmigrovat ručně</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}