{% extends 'layouts/main.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block title %}Migrační aplikace CKAN - LKOD{% endblock %}

{% block content %}

{% block header %}

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">CLM</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="{{url_for('site.index') }}">Homepage <span class="sr-only">(current)</span></a></li>
        <li><a href="{{url_for('site.installation') }}">Instalace</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        {% if session['lkod'] %}
        <li class="">
          <a href="{{url_for('site.logout') }}" class="">Odhlásit se </a>
        </li>
        {% endif %}
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="jumbotron text-center jumbotron-lkod">
    <h1>Migrační aplikace CKAN - LKOD</h1>
</div>
{% endblock %}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-5 col-center">
            <div class="well">
                {{ wtf.quick_form(form) }}
            </div>
        </div>
    </div>

    {% if session['datasets'] %}
    <div class="row">
        <div class="col-sm-12 col-md-8 col-center">
            <div class="well">
                <h2>Stav migrace</h2>

                {% for status in session['datasets'].keys() %}
                <h3>Stav: {{ status }}</h3>
                <table class="table">
                    <tbody>
                    {% for dataset in session['datasets'][status] %}
                    <tr>
                        <th>
                            {{ dataset }}
                        </th>
                        <td>
                            <a href="{{url_for('site.download', dataset=dataset) }}" type="button" class="btn btn-default">Stáhnout</a>
                            <a href="{{url_for('site.migrate', dataset=dataset) }}" type="button" class="btn btn-default">Zmigrovat ručně</a>
                        </td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
                {% endfor %}
            </div>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}