body {
    color: rgba(0, 0, 0, 0.87)
}

.well {
    background-color: white;
}


.col-center {
    margin-right: auto;
    margin-left: auto;
    float: none;
}

.jumbotron {
    color:white;
    background-color: #2196f3;
}

.btn {
    color:white;
    background-color: #2196f3;
}