body {
    color: rgba(0, 0, 0, 0.87)
}

.navbar {
    padding-bottom: 0;
    margin-bottom: 0;
}

.well {
    background-color: white;
}


.col-center {
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align: center;
}

.jumbotron {
    color:white;
    background-color: #2196f3;
}

.btn {
    color:white;
    background-color: #2196f3;
}

.btn-center {
    display:inline-block
}


.col-right {
    margin-right: auto;
    margin-left: auto;
    float: none;
}